<!-- <p>list works!</p>

<a routerLink="/detail">Go to detail</a>

<app-icon icon="pokeball" /> -->

<div class="h-full w-full bg-red-pokedex p-2">
  <div class="flex flex-col gap-2 px-3 pb-6 pt-3">
    <div class="flex items-center gap-4">
      <app-icon class="h-7 text-white" icon="pokeball" />
      <h1 class="text-3x1 font-bold text-white">Pokédex</h1>
    </div>
    <div class="flex w-full gap-4">
      <app-text-input
        [form]="form"
        id="search"
        name="search"
        placeholder="Search"
        leftIcon="search"
        rightIcon="pokeball"
        class="flex-1"
      />
      <app-radio-modal [form]="form" name="sortBy" [options]="sortByOptions" />
    </div>
  </div>

  <div class="grid grid-cols-3 gap-2">
    @for (pokemon of pokemons(); track pokemon.name) {
      <router-link [routerLink]="['/detail', pokemon.data.id]">
        <app-pokemon-card [pokemon]="pokemon" />
      </router-link>
    }
  </div>
</div>
